body {
  min-width: 375px;
  max-width: 1440px;
  font-family: 'Zen Kaku Gothic Antique', serif;
  font-style: normal;
  font-weight: 400;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;

  @media (width >= 768px) {
    justify-content: space-between;
  }
}

.header-title-container {
  display: flex;
  align-items: center;
}

.header-content-container {
  display: none;

  @media (width >= 768px) {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.header-info-container {
  display: flex;
  align-items: center;
}

/* fv section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

/* read section */
.read-catch-container {
  position: absolute;
  top: 5%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);

  .read-catch-title {
    font-size: 20px;
    font-weight: 700;
    color: #000;

    @media (width >= 768px) {
      padding: 2% 0;
      font-size: 32px;
      font-weight: 700;
    }
  }

  .en-label {
    color: #368d47;
  }

  .read-catch-text-contents {
    margin-top: 3%;
    font-size: 16px;
    font-weight: 500;
    color: #000;

    @media (width >= 768px) {
      margin-top: 1%;
      font-size: 24px;
    }
  }
}

.read-menu {
  position: absolute;
  top: 50%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;

  @media (width >= 768px) {
    right: 0;
    align-items: baseline;
  }
}

.read-menu-img {
  max-width: 180px;
  margin-left: -2%;
}

@media (width >= 768px) {
  .read-menu-img {
    max-width: 300px;
    margin-left: -2%;
    scale: 1.2;
  }
}

.read-menu-title {
  span {
    padding: 0 3px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(to right, #368d47, #82cb5b);
  }

  @media (width >= 768px) {
    span {
      font-size: 32px;
    }
  }
}

.read-container-inner-second {
  z-index: -1;
  margin-top: -12%;

  @media (width >= 768px) {
    margin-top: -6%;
  }
}

/* cta */

.section-cta {
  .cta-button-wrapper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    @media (width >= 768px) {
      bottom: 7%;
    }
  }
}

.cta-catch-container {
  width: 100%;
  padding: 0 20px;
}

.cta-catch-inner {
  position: absolute;
  top: 13%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  transform: translateX(-50%);

  .price-zero-container {
    position: relative;
    width: fit-content;
    margin-top: 8px;

    .price-zero-message {
      position: absolute;
      top: 7%;
      right: 13%;
      width: 12%;
      height: 42%;
      transform: translateX(-50%);
    }

    @media (width >= 768px) {
      .price-zero-message {
        top: 2%;
        right: 2%;
        width: 16%;
        height: 47%;
        transform: translateX(-50%);
      }
    }
  }
}

.cta-catch {
  position: relative;
}

.cta-catch-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 12px #fa0;

  @media (width >= 768px) {
    font-size: 40px;
  }
}

.cta-catch-title-span {
  display: flex;
  align-items: center;

  img {
    width: 3em;
  }
}

.cta-content-container {
  position: absolute;
  right: 0;
  bottom: 26%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;

  @media (width >= 768px) {
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 2% 0;

    .cta-content-text {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -3px;
    }
  }
}

.content-container {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.cta-content-text {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.cta-content-list {
  font-size: 12px;
  font-weight: 500;

  li {
    position: relative;
  }

  li::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    width: 3px;
    height: 3px;
    margin: auto 0;
    content: '';
    background-color: #000;
    border-radius: 99px;
  }

  @media (width >= 768px) {
    font-size: 16px;
  }
}

.cta-content-item-1 {
  width: 118px;
}

/* sev section */
.sev-point-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem;
  background-color: #f6fff7;

  .sev-point-content {
    flex: 1;
  }

  @media (width >= 768px) {
    flex-direction: row;
  }
}

/* doctor section */
.section-doctor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10rem 5rem;

  & > * {
    flex: 1;
  }

  @media (width >= 768px) {
    flex-direction: row;
    gap: 3rem;
  }

  .doctor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .doctor-image {
    max-width: 332px;
  }

  .doctor-column-title {
    padding: 0.5em;
    font-weight: 700;
    background-color: #f6f6f6;
  }
}

/* mask-campaign section */
.section-mask-campaign {
  background-color: #f6fff7;
  box-shadow: 0 -4px 24px 0 #31632b29;

  .section-mask-campaign-title-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 5rem 0;
  }

  .mask-campaign-title {
    max-width: 612px;
  }

  .campaign-flow-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (width >= 768px) {
      flex-direction: row;
      gap: 5rem;
    }

    & > * {
      flex: 1;
    }
  }

  .campaign-flow-image {
    max-width: 626px;
  }
}

/* about section */
.about-section {
  padding: 5rem 0;
  color: #fff;
  background-color: #3c3c3c;

  .about-section-title {
    padding: 0.5em 1em;
    font-size: 2rem;
    font-weight: 700;
    background-color: #e46c07;
  }

  .about-section-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    .about-section-title-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }

    .about-section-description-container {
      grid-row-start: 3;
    }

    @media (width >= 768px) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;

      .about-section-description-container {
        grid-row-start: 2;
      }

      .about-section-image-container {
        grid-row: span 2;
        grid-column: 2/3;
      }
    }
  }
}

/* ui parts */
.logo {
  width: 24px;
  height: auto;

  @media (width >= 768px) {
    width: 56px;
  }
}

.cta-button {
  height: auto;
}

.thumbs-up-container {
  position: absolute;
  right: -12%;
  bottom: -10%;
  width: 65%;
  height: 65%;
  margin-left: -10px;

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .thumbs-up {
    transform-origin: bottom center;
    animation: thumbsUpRotate 2s ease-in-out infinite;
  }

  .star {
    top: -10%;
    left: 8%;
    opacity: 0;
    animation: starFade 2s ease-in-out infinite;
  }
}

.price-zero {
  width: 60%;
  margin: 0 auto;

  @media (width >= 768px) {
    width: 80%;
  }
}

@keyframes thumbsUpRotate {
  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(8deg);
  }
}

@keyframes starFade {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* utils */
.relative {
  position: relative;
}

.en-label {
  font-family: Sen, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  font-optical-sizing: auto;

  @media (width >= 768px) {
    font-size: 20px;
  }
}

.top-dot {
  position: relative;
}

.top-dot::before {
  position: absolute;
  top: -1em;
  left: 50%;
  display: none;
  font-size: 1em;
  color: #539c4b;
  content: '•';
  transform: translateX(-50%);

  @media (width >= 768px) {
    display: block;
  }
}

.has-dot {
  font-size: 0;

  & > * {
    font-size: 1rem;
  }
}
